/* *
{
    background-color: black;
    color: white;
} */
#heading
{
    box-sizing: border-box;
    border: 2px double royalblue;
    padding: 5%;
    margin: 2%;
}
.Q_A_Section
{
    box-sizing: border-box;
    border: 2px double royalblue;
    padding: 5%;
    margin: 2%;
}
#submit
{
    margin: 3%;
    width: 20%;
    
}